doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href=filters.url(`/assets/style.css`))
  body(data-base-url=filters.url(`/`))
    nav#project-nav
      ol
        each example in EXAMPLES
          li(class=`${example.id === id ? 'active' : ''}`)
            a(href=filters.url(`/${example.slug}.html`))= example.title

    footer.description
      div !{description}

    script(src=filters.url(`/assets/${id}.js`) type="module")
    script.
      window.BASE_URL = document.body.getAttribute('data-base-url')